modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 15752823

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5173
externalPort = 3000

[[ports]]
localPort = 5174
externalPort = 80

[[ports]]
localPort = 5175
externalPort = 3001
